<h2>Rails rendered</h2>
<%= render Flash.new do %>
  Hello World!
<% end %>
<br />
<%= render Flash.new(variant: :success) do %>
  Successful World
<% end %>
<br />
<%= render Flash.new(variant: :warning) do %>
  Uh oh World
<% end %>
<br />
<%= render Flash.new(variant: :danger) do %>
  Bad World!
<% end %>

<h2>React rendered</h2>
<div id="react-root"></div>
